@use "../../styles.scss" as gs;

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 8vh auto;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
}

mat-card {
  padding: 16px;
  margin: 15vh;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .card-container {
    padding: 10px;
    max-width: 100%;
  }
}

footer {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

header {
  background-color: gs.$headersBlueColor;
  color: #fff;
}
